
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/report-print.css" rel="stylesheet" />
    <title>Brac University</title>
</head>
<body>
<div class="container">
    <header class="head-section">
        <img src="~/img/logo.svg" alt="Brac-University" class="img" srcset="" />
        <div class="v-name">
            <h1>Brac-University</h1>
            <p>66 Mohakhali, Dhaka 1212, Bangladesh | +880-2-9844051-4</p>
        </div>
    </header>
    <hr />
    <div class="info-section">
        @Html.Partial("ViewResult")
    </div>
    <div class="time-stamp">
        <div id="created-time">
            <p>created-time</p>
        </div>
        <div id="printed-time">
            <p>printed-time</p>
        </div>
    </div>
    <hr />
    <footer>--- Brac-University || Inspiring Excellence --</footer>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#StudentId").change(function() {
                var id = $("#StudentId").val();
                var parameter = { studentId: id };
                $("#studentCourse").empty();
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: '@Url.Action("GetStudentInfoById","Student")',
                    data: JSON.stringify(parameter),
                    success: function(student) {
                        $("#StudentName").val(student.StudentName);
                        $("#StudentEmail").val(student.Email);
                        $("#StudentDepartment").val(student.Department);
                        $.ajax({
                            type: "POST",
                            contentType: "application/json;charset=utf-8",
                            url: '@Url.Action("GetStudentResult","Result")',
                            data: JSON.stringify(parameter),
                            success: function (studentResult) {
                                $.each(studentResult, function(key, value) {
                                    $("#studentCourse").append('<tr>' +
                                        '<td>' + value.CourseCode+'</td>' +
                                        '<td>' + value.CourseName+'</td>' +
                                        '<td>' + value.Grade+'</td>' +
                                        '</tr>');
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>


</body>
</html>