@{
    ViewBag.Title = "UnAllocate ClassRoom";
}

<h2>UnAssign AllCourses</h2>
<div class="form-group">
    <button class="btn btn-danger" id="unAssign">UnAllocate Classroom</button>
    <label class="label-danger hidden" id="msglabel">All Courses Are Unassigned</label>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#unAssign").click(function() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UnAllocateClassRooms","ClassRoom")',
                    success: function() {
                        alert('All ClassRooms Are UnAllocated');
                    }
                });
            });
        });
    </script>
}