@{
    ViewBag.Title = "UnAllocate ClassRoom";
}

<h2>Unallocate AllCourses</h2>
<div class="form-group">
    <button class="btn btn-danger" id="unAssign">UnAllocate Classroom</button>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#unAssign").click(function () {
                var confirmation = confirm("Do you want to unallocate all the classrooms");
                if (confirmation) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UnAllocateClassRooms","ClassRoom")',
                        success: function() {
                            toastr.info('All ClassRooms Are UnAllocated');
                        }
                    });
                }
            });
        });
    </script>
}