@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University Management System</h1>
    <p class="lead">This is a system build REGEX group</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            You can view this homepage as a visitor. To get access to the full system you must be an authorized user. And as an authorized user you can use the part of the system you have authority to </p>
    </div>
    
    <div class="col-md-6">
        <h2>Advice</h2>
        <p>We Hope you make the best use of the system.</p>
    </div>
</div>